@model CarAds.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container">
    <h1>Login to Your Account</h1>
    
    <form asp-action="Login" method="post" class="login-form">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" type="email" required />
        </div>
        
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" type="password" required />
        </div>
        
        <button type="submit" class="btn-login">Login</button>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </form>

    <p class="register-link">
        Don't have an account? <a href="/User/Register">Register here</a>
    </p>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
